


<div class="row">
	<div class="col-xs-12">
	<h3>{{model.title}}</h3>
	{{model.author}}
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
	{{order.selectedLocation}}
	</div>
</div>



<div class="row">
	<div class="col-xs-12">
		<div class="pull-right">
			<button class="btn btn-link" {{action 'goBack'}}>Tillbaka</button>
			<button class="btn btn-primary" {{action 'moveForward'}}>Skicka beställning</button>
		</div>
	</div>
</div>

