<div class="media confirmation">
  <!-- If there for some reson occurs an error, display the error message-->
{{#if order.errors}}
  <div class="media-left hidden-xs">
    <i class="fa fa-times-circle green-icon" aria-hidden="true"></i>
  </div>
  <div class="media-body">
    <h3 class="confirmation-header">{{t "confirmation-errors.header"}}</h3><i class="fa fa-times-circle red-icon-mobile visible-xs" aria-hidden="true"></i>
    <br/>
    {{{reason}}}

  </div>

{{else}}
  <!-- Otherwise disply order wconfirmation-->
  <div class="media-left hidden-xs">
    <i class="fa fa-check-circle green-icon" aria-hidden="true"></i>
  </div>
  <div class="media-body">
    <h3 class="confirmation-header">{{t "request.order.confirmation.confirmation-header"}}</h3><i class="fa fa-check-circle green-icon-mobile visible-xs" aria-hidden="true"></i>
    <br/>
    {{#if order.model.reserve.queuePosition}}
        {{#if showQueue}}
        <p>{{t "request.order.confirmation.you-have-place"}} <b>{{order.model.reserve.queuePosition}}</b> {{t "request.order.confirmation.in-queue"}}</p>
       {{/if}}
    {{/if}}

    <p>{{t "request.order.confirmation.message"}}  {{order.model.reserve.location.name}}.</p>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <a href="#">{{t "request.order.confirmation.my-loans-link-text"}}</a>
  </div>
{{/if}}
</div>
