<div class="row">
	<div class="col-xs-12">
		<h3>{{request.model.biblio.title}}</h3>
		<div class="author">{{request.model.biblio.author}}</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-8">
	{{pick-location
		locations=order.model.locations
		selectedItem=order.model.reserve.location.id
		onSelect=(action 'setLocation')
		label=(t 'request.order.details.labelForLocationDropdown')
	}}
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-8">
	{{pick-type-of-loan
		loanTypes=order.model.loantypes
		selectedItem=order.model.reserve.loanType.id
		onSelect=(action 'setLoanType')
		label=(t 'request.order.details.labelForLoantypeDropdown')
	}}
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-8">
		{{order-comment-input
			value=order.model.reserve.note
			label="Kommentarer om din order"
			maxlength=30
		}}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<button class="btn btn-block btn-default" {{action 'goBack'}}>Tillbaka</button>
	</div>
	<div class="col-sm-6">
		<button class="btn btn-block btn-primary pull-right" disabled={{btnNextDisabled}} {{action 'moveForward'}}>{{t 'request.order.details.btnNext'}}</button>
	</div>
</div>
