<div class="row">
  <div class="col-xs-12">
    <h3>{{request.model.biblio.title}}</h3>
    <div class="author">{{request.model.biblio.author}}</div>
  </div>
</div>
<hr>

{{#if order.model.reserve.subscription}}
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      {{reserve-note-input
      value=order.model.reserve.subscription_notes
      label="Detaljer om beställningen"
      helptext="Ange volym, år och nummer för de exemplar du vill beställa."
      maxlength=140
    }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <p>Du kan beställa exemplar ur följande bestånd:</p>
      <pre>{{order.model.reserve.subscription.publicNote}}</pre>
    </div>
  </div>
  <hr>
{{/if}}

<div class="row">
  <div class="col-xs-12 col-sm-8">
    {{pick-location
    locations=pickupLocations
    selectedItem=order.model.reserve.location.id
    userCategory=request.model.user.userCategory
    item=order.model.reserve.item
    onSelect=(action 'setLocation')
    label=(t 'request.order.details.labelForLocationDropdown')
  }}
</div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    {{pick-type-of-loan
    loanTypes=order.model.loantypes
    selectedItem=order.model.reserve.loanType.id
    item=order.model.reserve.item
    onSelect=(action 'setLoanType')
    label=(t 'request.order.details.labelForLoantypeDropdown')
  }}
</div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    {{reserve-note-input
    value=order.model.reserve.reserve_notes
    label="Kommentarer (valfri)"
    helptext="Ange om det är något mer du tror att vi behöver veta om din beställning."
    maxlength=140
  }}
</div>
</div>

<div class="row">
  <div class="col-sm-6">
    <button class="btn btn-block btn-default" {{action 'goBack'}}>Tillbaka</button>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-block btn-primary pull-right" disabled={{btnNextDisabled}} {{action 'moveForward'}}>{{t 'request.order.details.btnNext'}}</button>
  </div>
</div>
