<div class="row">
	<div class="col-xs-12">
		<h3>{{request.model.biblio.title}}</h3>
		<div class="author">{{request.model.biblio.author}}</div>
	</div>
</div>
<hr>
{{#if showQueueOnBiblio}}
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-primary" {{action 'orderItem' null}}>Köa på utlånade</button>
		</div>
	</div>
	<hr>
{{/if}}
<div class="row">
	<div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th>Placering</th>
          <th>Hylla</th>
          <th>Volym</th>
          <th>Streckkod</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each request.model.biblio.items as |item|}}
        <tr>
          <td>{{item.sublocation.name}}</td>
          <td>{{item.itemCallNumber}}</td>
          <td>{{item.copyNumber}}</td>
          <td>{{item.barcode}}</td>
          <td>[TODO]</td>
          <td>
						{{item-order-button
							canBeOrdered=item.canBeOrdered
							canBeQueued=item.canBeQueued
							canBeQueuedOnItem=item.biblio.canBeQueuedOnItem
							onClick=(action 'orderItem' item)
						}}
					</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
	</div>
</div>
