{{partial 'request/order/warning'}}
{{partial 'request/order/bibliographic-info'}}
{{#if request.model.biblio.hasItemLevelQueue}}
  <nav>
    <ul class="nav nav-tabs" role="tablist">
      {{#if request.model.biblio.subscriptiongroups.length}}
      <li role="presentation" class="{{is-active-tab 'tab1' activeTab}}">
        <a href="#subscriptions" class="left" data-toggle="tab" onclick={{action "setActiveTab" "tab1"}}>
          {{t "request.order.items.subscriptions"}} ({{numSubscriptions}})
        </a>
      </li>
      {{/if}}
      {{#if itemsAvailable.length}}
      <li role="presentation" class="{{is-active-tab 'tab2' activeTab}}">
        <a href="#items" class="right" data-toggle="tab" onclick={{action "setActiveTab" "tab2"}}>
          {{t "request.order.items.items"}} ({{request.model.biblio.items.length}})
        </a>
      </li>
      {{/if}}
    </ul>
  </nav>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane {{is-active-tab 'tab2' activeTab}}" id="items" >
      {{item-table items=itemsSorted hasSubscription=true setItemToOrder=(action "setItemToOrder")}}
    </div>
    <div role="tabpanel" class="tab-pane {{is-active-tab 'tab1' activeTab}}" id="subscriptions">
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table class="table table-subscriptions borderless">
              <thead>
                <tr>
                  <th>{{t "request.order.items.location"}}</th>
                  <th>{{t "request.order.items.note"}}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {{#each request.model.biblio.subscriptiongroups as |subscriptiongroup|}}
                <tr>
                  <td class="border">{{subscriptiongroup.location.name}}</td>
                  <td class="border">
                    {{#each subscriptiongroup.shortInfo as |shortInfo|}}
                      {{shortInfo}}<br>
                    {{/each}}
                  </td>
                </tr>
                {{#each subscriptiongroup.subscriptions as |subscription|}}
                <tr>
                  <td>{{subscription.sublocation.name}}, {{subscription.callNumber}}</td>
                </tr>
                <tr>
                  <td><textarea class="subscription-note" wrap=off readonly>{{subscription.publicNote}}</textarea></td>
                  <td><button class="btn btn-primary" {{action 'setSubscriptionToOrder' subscription}}>{{t "request.order.items.order-subscription-button"}}</button></td>
                </tr>
                {{/each}}
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{{else}}
  <nav>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="{{is-active-tab 'tab1' activeTab}}"><a href="#items" class="left" data-toggle="tab" onclick={{action "setActiveTab" "tab1"}}>{{t "request.order.items.available"}} ({{itemsAvailable.length}})</a></li>
      <li role="presentation" class="{{is-active-tab 'tab2' activeTab}}"><a href="#item-queue" class="right" data-toggle="tab" onclick={{action "setActiveTab" "tab2"}}>{{t "request.order.items.not-available"}} ({{itemsNotAvailable.length}})</a></li>
    </ul>
  </nav>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane {{is-active-tab 'tab1' activeTab}}" id="items" >
      {{#if itemsAvailableSorted}}
      {{item-table items=itemsAvailableSorted setItemToOrder=(action "setItemToOrder")}}
      {{else}}
        <p class="center zero-state vertical-space-bottom-40">
          {{t "request.order.items.currently-no-available-items"}}
        </p>
        <div class="row">
          <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body center">
              <strong>{{request.model.biblio.noInQueue}} {{t "request.order.items.number-of-people-in-queue"}}</strong> <button class="btn btn-primary" {{action 'setItemToOrder' null}}>{{t "request.order.items.queue-up"}}</button>
            </div>
          </div>
          </div>
        </div>
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-pane {{is-active-tab 'tab2' activeTab}}" id="item-queue">
      {{#if request.model.biblio.canBeQueued}}
      <div class="row">
        <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body center">
            <strong>{{request.model.biblio.noInQueue}} {{t "request.order.items.number-of-people-in-queue"}}</strong> 
            {{#unless hasItemAvailableForOrder }}
             <button class="btn btn-primary btn-space-left" {{action 'setItemToOrder' null}}>{{t "request.order.items.queue-up"}}</button>
            {{/unless}}
          </div>
        </div>

        </div>
      </div>
      {{/if}}
      <div class="row">
        <div class="col-xs-12">
          {{#if itemsNotAvailableSorted}}
            {{item-table items=itemsNotAvailableSorted setItemToOrder=(action "setItemToOrder")}}
          {{else}}
              <p class="center zero-state ">
                {{t "request.order.items.all-items-are-available"}}
              </p>
          {{/if}}

        </div>
      </div>
    </div>
  </div>
{{/if}}
