{{partial 'request/order/bibliographic-info'}}
{{#if request.model.biblio.hasItemLevelQueue}}
  <nav>
    <ul class="nav nav-tabs" role="tablist">
      {{#if request.model.biblio.subscriptions.length}}
      <li role="presentation" class="{{is-active-tab 'tab1' activeTab}}"><a href="#subscriptions" data-toggle="tab" onclick={{action "setActiveTab" "tab1"}}>Bestånd ({{request.model.biblio.subscriptions.length}})</a></li>
      {{/if}}
      {{#if itemsAvailable.length}}
      <li role="presentation" class="{{is-active-tab 'tab2' activeTab}}"><a href="#items" data-toggle="tab" onclick={{action "setActiveTab" "tab2"}}>Exemplar ({{request.model.biblio.items.length}})</a></li>
      {{/if}}
    </ul>
  </nav>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane {{is-active-tab 'tab2' activeTab}}" id="items" >
      {{item-table items=itemsSorted hasSubscription=true setItemToOrder=(action "setItemToOrder")}}
    </div>
    <div role="tabpanel" class="tab-pane {{is-active-tab 'tab1' activeTab}}" id="subscriptions">
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table class="table table-subscriptions">
              <thead>
                <tr>
                  <th>Placering</th>
                  <th>Notering</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each subscriptionsSorted as |subscription|}}
                <tr>
                  <td>{{subscription.sublocation.name}}</td>
                  <td><pre class="subscription-note">{{subscription.publicNote}}</pre></td>
                  <td><button class="btn btn-primary btn-block" {{action 'setSubscriptionToOrder' subscription}}>Välj</button></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{{else}}
  <nav>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="{{is-active-tab 'tab1' activeTab}}"><a href="#items" data-toggle="tab" onclick={{action "setActiveTab" "tab1"}}>Tillgängliga ({{itemsAvailable.length}})</a></li>
      <li role="presentation" class="{{is-active-tab 'tab2' activeTab}}"><a href="#item-queue" data-toggle="tab" onclick={{action "setActiveTab" "tab2"}}>Utlånade ({{itemsNotAvailable.length}})</a></li>
    </ul>
  </nav>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane {{is-active-tab 'tab1' activeTab}}" id="items" >
      {{#if itemsAvailableSorted}}
      {{item-table items=itemsAvailableSorted setItemToOrder=(action "setItemToOrder")}}
      {{else}}
        <p class="center zero-state vertical-space-bottom-40">
          Det finns inga tillgängliga exemplar just nu.
        </p>
        <div class="row">
          <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body center">
              <strong>{{request.model.biblio.noInQueue}} personer i kö på utlånade exemplar</strong> <button class="btn btn-primary" {{action 'setItemToOrder' null}}>Ställ dig i kö</button>
            </div>
          </div>
          </div>
        </div>
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-pane {{is-active-tab 'tab2' activeTab}}" id="item-queue">

      {{#if request.model.biblio.canBeQueued}}
      <div class="row">
        <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body center">
            <strong>{{request.model.biblio.noInQueue}} personer i kö på utlånade exemplar</strong> <button class="btn btn-primary" {{action 'setItemToOrder' null}}>Ställ dig i kö</button>
          </div>
        </div>

        </div>
      </div>
      {{/if}}
      <div class="row">
        <div class="col-xs-12">
          {{#if itemsNotAvailableSorted}}
            {{item-table items=itemsNotAvailableSorted setItemToOrder=(action "setItemToOrder")}}
          {{else}}
              <p class="center zero-state ">
                Alla exemplar finns tillgängliga.
              </p>
          {{/if}}

        </div>
      </div>
    </div>
  </div>
{{/if}}
