{{#each order.errors as |error|}}
<div class="alert-danger col-xs-12">
	{{error.detail}}
</div>
{{/each}}
<div class="row">
	<div class="col-xs-12">
	<h3>{{request.model.biblio.title}}</h3>
	{{request.model.biblio.author}}
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-xs-12">
		Hämta på {{order.model.reserve.location.name}}
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		Typ av lån {{order.model.reserve.loanType.name}}
	</div>
</div>

{{#if order.model.reserve.item}}
  <div class="row">
	  <div class="col-xs-12">
		  Exemplar {{order.model.reserve.item.id}}
	  </div>
  </div>
{{/if}}

<div class="row">
	<div class="col-xs-12">
		Kommentar {{order.model.reserve.reserveNotes}}
	</div>
</div>

{{#if order.model.reserve.subscription}}
	<div class="row">
		<div class="col-xs-12">
			Detaljer om beställningen {{order.model.reserve.subscriptionNotes}}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			Placering {{order.model.reserve.subscriptionLocation}}, {{order.model.reserve.subscriptionSublocation}}, {{order.model.reserve.subscriptionCallNumber}}
		</div>
	</div>
{{/if}}

<div class="row">
	<div class="col-xs-6 col-sm-6">
		<button class="btn btn-block btn-default" {{action 'goBack'}}>Tillbaka</button>
	</div>
	<div class="col-xs-6 col-sm-6">
		<button class="btn btn-block btn-success" {{action 'submitOrder'}}>Skicka beställning</button>
	</div>
</div>
