{{#each order.errors as |error|}}
<div class="alert-danger col-xs-12">
	{{error.detail}}
</div>
{{/each}}
<div class="row">
	<div class="col-xs-12">
	<h3>{{request.model.biblio.title}}</h3>
	{{request.model.biblio.author}}
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-xs-12">
		<div class="table-responsive">
			<table class="table borderless">
				<tbody>
					<tr>
						<th>Hämta på</th>
						<td>{{order.model.reserve.location.name}}</td>
					</tr>
					<tr>
						<th>Typ av lån</th>
						<td>{{order.model.reserve.loanType.name}}</td>
					</tr>
					{{#if order.model.reserve.subscription}}
						{{#if order.model.reserve.subscriptionNotes}}
							<tr>
								<th>Detaljer om beställningen</th>
								<td>{{order.model.reserve.subscriptionNotes}}</td>
							</tr>
						{{/if}}
						<tr>
						<th>Placering</th>
						<td>{{order.model.reserve.subscriptionLocation}}, {{order.model.reserve.subscriptionSublocation}}, {{order.model.reserve.subscriptionCallNumber}}</td>
					</tr>
					{{/if}}
					{{#if order.model.reserve.subscriptionNotes}}
						<tr>
							<th>Kommentar</th>
							<td>{{order.model.reserve.reserveNotes}}</td>
						</tr>
					{{/if}}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-sm-6">
		<button class="btn btn-block btn-default" {{action 'goBack'}}>Tillbaka</button>
	</div>
	<div class="col-xs-6 col-sm-6">
		<button class="btn btn-block btn-success" {{action 'submitOrder'}}>Beställ</button>
	</div>
</div>
