{{#each order.errors as |error|}}
<div class="alert-danger col-xs-12">
	{{error.detail}}
</div>
{{/each}}
<div class="row">
	<div class="col-xs-12">
	<h3>{{request.model.biblio.title}}</h3>
	{{request.model.biblio.author}}
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-xs-12">
		<div class="table-responsive">
			<table class="table borderless">
				<tbody>
					{{#if order.model.reserve.item.copyNumber}}
					<tr>
						<th>Exemplar</th>
						<td>{{order.model.reserve.item.copyNumber}}</td>
					</tr>
					{{/if}}
					<tr>
						<th>Typ av l책n</th>
						<td>{{order.model.reserve.loanType.name}}</td>
					</tr>
					<tr>
						<th>H채mta p책</th>
						<td>{{order.model.reserve.location.name}}</td>
					</tr>
					{{#if order.model.reserve.reserveNotes}}
						<tr>
							<th>Kommentar</th>
							<td>{{order.model.reserve.reserveNotes}}</td>
						</tr>
					{{/if}}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-sm-6">
		<button class="btn btn-block btn-default" {{action 'goBack'}}>Tillbaka</button>
	</div>
	<div class="col-xs-6 col-sm-6">
		<button class="btn btn-block btn-success" {{action 'submitOrder'}}>Best채ll</button>
	</div>
</div>
