{{#each order.errors as |error|}}
  <div class="alert-danger col-xs-12">
    {{error.detail}}
  </div>
{{/each}}
{{partial 'request/order/warning'}}
{{partial 'request/order/bibliographic-info'}}
<hr/>
<div class="row summary-info">
  <div class="col-xs-12">
    {{#if order.model.reserve.item.copyNumber}}
      <div>
        <span class="info-header">{{t "request.order.summary.copy-number"}}</span>
        <span class="info">{{order.model.reserve.item.copyNumber}}</span>
      </div>
    {{/if}}
    <div>
      <span class="info-header">{{t "request.order.summary.loantype"}}</span>
      <span class="info">{{order.model.reserve.loanType.name}}</span>
    </div>
    {{#if order.model.reserve.loanType.showPickupLocation}}
      <div>
        <span class="info-header">{{t "request.order.summary.pickup-location"}}</span>
        <span class="info">{{order.model.reserve.location.name}}</span>
      </div>
    {{/if}}
    {{#if order.model.reserve.reserveNotes}}
      <div>
        <span class="info-header">{{t "request.order.summary.reserve-notes"}}</span>
        <span class="info">{{order.model.reserve.reserveNotes}}</span>
      </div>
    {{/if}}
    {{#if order.model.reserve.subscriptionNotes}}
      <div>
        <span class="info-header">{{t "request.order.summary.subscription-notes"}}</span>
        <span class="info">{{order.model.reserve.subscriptionNotes}}</span>
      </div>
    {{/if}}
  </div>
</div>

<div class="row navigation-buttons">
  <div class="col-xs-6 col-sm-6">
    <button class="btn btn-block btn-default" {{action 'goBack'}}>{{t "request.order.summary.goback-button"}}</button>
  </div>
  <div class="col-xs-6 col-sm-6">
    <button class="btn btn-block btn-success" disabled={{btnSubmitOrderDisabled}} {{action 'submitOrder'}}>{{getOrderButtonText}}</button>
  </div>
</div>
