<div class="row">
	<div class="col-xs-12">
	<h3>{{request.model.biblio.title}}</h3>
	{{request.model.biblio.author}}
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		{{order.model.reserve.location.name}}
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		{{order.model.reserve.loanType.name}}
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		Exemplar: {{order.model.reserve.item.id}}
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		Användare: {{order.model.reserve.user.fullName}}
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		Kommentar: {{order.model.reserve.note}}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<button class="btn btn-block btn-default" {{action 'goBack'}}>Tillbaka</button>
	</div>
	<div class="col-sm-6">
		<button class="btn btn-block btn-success" {{action 'submitOrder'}}>Skicka beställning</button>
	</div>
</div>
