<div id="spinner">
  <i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<div class="gu-header-container">
  <div class="container">
    <div class="row gu-header">
      <div class="col-xs-12">
        <div class="logo {{getLocale}}">
          <a href="http://www.gu.se">
            <img class="visible-print-block" src={{t 'home.headers.logoPrintUrl'}} />
          </a>
        </div>
        <div class="headers">
          <div class="level1">
            <a href="http://www.ub.gu.se">{{t 'home.headers.level1'}}</a>
          </div>
          <div class="level2">
            <a href="/">{{t 'home.headers.level2'}}</a>
          </div>
        </div>
        <div class="gu-header-links pull-right hidden-print">
          <ul>
            <li>{{#if application.casLoginUrl}}<a href="{{application.casLoginUrl}}">Logga in nu{{t 'login.casLogin'}}</a>{{/if}}</li>
            <li><a href="{{application.casLoginUrl}}">{{t 'login.casLogin'}}</a></li>
            <li>{{toggle-lang lang=lang}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row hidden-md hidden-lg">
    <div class="col-xs-12">
      {{progress-steps}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Din beställning</h1>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm">
      {{progress-steps}}
    </div>
    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</div>

<div class="gu-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>{{{t 'home.footer.content'}}}</p>
      </div>
    </div>
  </div>
</div>
