{{title (t "home.title")}}
<div class="gu-header-container">
  <div class="container">
    <div class="row gu-header">
      <div class="col-xs-12">
        <div class="logo {{getLocale}}">
          <a href="http://www.gu.se">
            <img class="visible-print-block" src={{t 'home.headers.logoPrintUrl'}} />
          </a>
        </div>
        <div class="headers">
          <div class="level1">
            <a href="http://www.ub.gu.se">{{t 'home.headers.level1'}}</a>
          </div>
          <div class="level2">
            {{t 'home.headers.level2'}}
          </div>
        </div>
        <div class="gu-header-links pull-right hidden-print">
          <ul>
            <li>{{toggle-lang lang=lang}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{!--
<div class="container">
  <div class="col-xs-12 news-flash">
    <div class="alert alert-warning" role="alert">
      <p>{{t 'home.closed-info'}}</p>
   </div>
  </div>
</div>
--}}

<div class="container">
  {{outlet}}
</div>

<!--
<div class="gu-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>{{{t 'home.footer.content'}}}</p>
      </div>
    </div>
  </div>
</div>
-->