<div class="row vertical-space-bottom-20">
	<div class="col-xs-12">
		<h3>{{model.title}}</h3>
		<div class="author">{{model.author}}</div>
	</div>
</div>


<div class="row vertical-space-bottom-20">
	<div class="col-xs-12">
	{{pick-location locations=application.locations selectedLocation=application.selectedLocation label=(t 'start.labelForLocationDropdown')}}
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
	{{pick-type-of-loan loantypes=application.loantypes selectedLoantype=application.selectedLoantype label=(t 'start.labelForLoantypeDropdown')}}
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-primary pull-right" disabled={{btnNextDisabled}} {{action 'moveForward'}}>Nästa <i class="fa fa-chevron-right"></i></button>
	</div>
</div>


{{outlet}}
