{{#if canBeQueued}}
  <button {{action 'onOrderClick'}} class="btn btn-block btn-xs btn-primary">
    {{t 'components.item-order-button.queue'}}
  </button>
{{else if canBeOrdered}}
  <button {{action 'onOrderClick'}} class="btn btn-block btn-xs btn-primary">
    {{t 'components.item-order-button.order'}}
  </button>
{{else}}
  {{t 'components.item-order-button.collect'}}
{{/if}}
