{{#if canBeQueued}}
  <button {{action 'onOrderClick' true}} class="btn btn-block btn-xs btn-primary">
    {{t 'components.item-order-button.queue'}}
  </button>
{{else if canBeOrdered}}
  <button {{action 'onOrderClick' false}} class="btn btn-block btn-xs btn-primary">
    {{t 'components.item-order-button.order'}}
  </button>
{{else if isAvailible}}
<span class="collect-text">
  {{t 'components.item-order-button.collect'}}
</span>
{{/if}}
