{{#if items}}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          {{#if hasSubscription}}
            <th>Volym</th>
          {{/if}}
          <th>Placering</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each items as |item|}}
        <tr>
          {{#if hasSubscription}}
            <td>{{item.copyNumber}}</td>
          {{/if}}
          <td>{{item.sublocation.location.name}}<br/><span class="sublocation-text">{{item.sublocationText}}</span></td>
          <td>{{item.statusText}}<br/><span class="status-text">{{item.statusLimitationText}}</span></td>
          <td>
            {{item-order-button
              canBeOrdered=item.canBeOrdered
              canBeQueued=item.canBeQueued
              onClick=(action 'setItemToOrder' item)
            }}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}