{{#if items}}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          {{#if hasSubscription}}
            <th>Volym</th>
          {{/if}}
          <th>Placering</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each StatusText as |item|}}
        <tr>
          {{#if hasSubscription}}
            <td>{{item.copyNumber}}</td>
          {{/if}}
          <td>{{item.sublocation.location.name}}</td>
          <td>{{item.sublocationText}}</td>
          <td>{{item.statusText}}</td>
          <td>{{item.statusLimitationText}}</td>

          <td>
            {{item-order-button
              canBeOrdered=item.canBeOrdered
              canBeQueued=item.canBeQueued
              onClick=(action 'setItemToOrder' item)
            }}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}