{{#if isHidden}}
  {{input type="hidden" value=value}}
{{else}}
  <label>
    {{label}}
  </label>
  <span class="help-block">{{helptext}}</span>
    {{#if autoComplete}}
      {{input type="text" value=value class="form-control" maxlength=maxlength}}
    {{else}}
      {{input type="text" value=value class="form-control" maxlength=maxlength autocomplete="off"}}
    {{/if}}
  <span class="help-block">{{inputLength}} / {{maxlength}}</span>
{{/if}}
