<label>
	{{label}}
</label>
<span class="help-block">{{helptext}}</span>
{{textarea value=value class="form-control" rows=3 maxlength=maxlength}}
<span class="help-block">{{inputLength}} / {{maxlength}}</span>
