{{#if isHidden}}
  {{input type="hidden" value=value}}
{{else}}
  <label>
    {{label}}
  </label>
  {{#if isTextarea}}
    {{#if autoComplete}}
      {{textarea placeholder=placeholder value=value class="form-control" rows=2 maxlength=maxlength}}
    {{else}}
      {{textarea placeholder=placeholder value=value class="form-control" rows=2 maxlength=maxlength autocomplete="off"}}
    {{/if}}
    <span class="help-block">{{inputLength}} / {{maxlength}}</span>
    <span class="help-block">{{helptext}}</span>
  {{else}}
  <span class="help-block">{{helptext}}</span>
    {{#if autoComplete}}
      {{input type="text" value=value class="form-control" maxlength=maxlength}}
    {{else}}
      {{input type="text" value=value class="form-control" maxlength=maxlength autocomplete="off"}}
    {{/if}}
    <span class="help-block">{{inputLength}} / {{maxlength}}</span>
  {{/if}}
{{/if}}
